body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#interests {
  background-color: #e2edff;
}

#educatify {
  background-color: #e2edff;
}

#footer {
  background-color: #2832ca;
}

section {
  padding-top: 5rem;
}
